* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 1rem;
    width: 80%;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.8);
}

#joke {
    margin: 1.5rem;
    font-size: 1.5rem;
}

button {
    margin: 1rem;
    padding: 0.5rem;
    background-color: #79addc;
    border: none;
    box-shadow: 0 0 1rem #79addc;
    font-size: 2rem;
    width: 150px;
    border-radius: 100px;
    cursor: pointer;
    transition: transform ease-out 0.4s;
}

button:hover {
    background-color: #e76f51;
    box-shadow: 0 0 1rem #e76f51;
    transform: scale(1.1);
}

button:active {
    transform: scale(0.9);
}
